<p>collapse realisation</p>

<div class="card">
    <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Réalisations
            </button>
        </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">

            {{!-- Create --}}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateRealisation"
                data-whatever="@mdo">Ajouter une réalisation</button>

            {{!-- Modal de creation --}}
            {{> modals/modalCreateRealisation }}

            <!-- Table Realisation -->
            <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dbRealisation }}
                    <tr>
                        <th scope="row">1</th>
                        <td> {{ _id }} </td>
                        <td>{{ title }}</td>
                        <td>{{ content }}</td>
                        <td>
                            {{!-- Edit --}}
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalEditRealisation{{ _id }}" data-whatever="@mdo">Editer
                                réalisation</button>
                            {{!-- Delete --}}
                            <button type="submit" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalDeleteRealisation{{ _id }}" data-whatever="@mdo">Supprimer
                                réalisation</button>
                        </td>
                    </tr>

                    {{!-- Modal d'édition --}}
                    {{> modals/modalEditRealisation }}

                    {{!-- Modal de suppression --}}
                    {{> modals/modalDeleteRealisation }}

                    {{/each }}

                </tbody>
            </table>
            <!-- / Table Realisation -->

        </div>
    </div>
</div>