<p>collapse message</p>

<div class="card">
    <div class="card-header" id="headingThree">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Messages
            </button>
        </h2>
    </div>

    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">

            {{!-- Create --}}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateMessage"
                data-whatever="@mdo">Envoyer un message</button>
            {{!-- Modal création --}}
            {{> modals/modalCreateMessage }}
            <!-- Table Message  -->
            <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Objet</th>
                        <th scope="col">Message</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dbMessage}}
                    <tr>
                        <th scope="row">{{ number }}</th>
                        <th scope="row">{{ name }}</th>
                        <th scope="row">{{ first.name }}</th>
                        <th scope="row">{{ object }}</th>
                        <th scope="row">{{ content }}</th>
                        <td>
                            {{!-- Reponse --}}

                            <button type="submit" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalResponseMessage_{{this._id}}" data-whatever="@mdo">Répondre au
                                message</button>
                            {{!-- Delete --}}

                            <button type="submit" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalDeleteMessage_{{this._id}}" data-whatever="@mdo">Supprimer le
                                message</button>
                        </td>
                    </tr>

                    {{> modals/modalResponseMessage}}
                    {{> modals/modalDeleteMessage}}

                    {{/each}}
                </tbody>
            </table>
            <!-- / Table Message -->
        </div>
    </div>
</div>